*{
  margin: 0;
  padding: 0;
}

p{
  color: black;
  font-family: 'Raleway', sans-serif;
}



              /* Homepage */

#portlink{
  color: orange;
  text-decoration: underline;
}

          /* Landing page */

#beginpage{
  height:100vh;
}

#logospin{
  width: 256px;
  margin: 0 auto;
}

#logospin img{
  margin: auto;
  width: 256px;
  height: 256px;
}

.medialogo{
 font-size: 2.5em;
}

.medialogo a{
  color: grey;
  -webkit-transition: color 0.5s ease-out;
}

.medialogo a:nth-child(2){
  margin-left: 0.25em;
}

.medialogo a:hover:nth-child(2){
  color: red;
}

          /* Navigation Bar */

#navbar-brand{
  margin-left: 1.5em;
  font-size: 1.1em;
  font-family: 'Inconsolata', monospace;
}

.nav-item{
  font-family: 'Raleway', sans-serif;
  border: solid transparent;
  border-width: 0px 0px 2px 0px;
  transition: border 0.5s ease-out;
  margin-right: 5em;
  cursor: default;
}

.nav-item:hover{
  color: yellow;
  transition: border 0.5s ease;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: yellow;
}


          /* Portfolio */

.card{
  min-height: 32em;
  min-width: 30em;
  margin-bottom: 1em;
}

.card button{
  position: absolute;
  left: 1.2em;
  bottom: 1.2em;
}

.modal-body{
  margin: 0 auto;
}

.modaltext{
  margin-top: 1em;
}

          /* Footer */

footer{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}
