*{
  margin: 0;
  padding: 0;
}

p{
  color: black;
  font-family: 'Raleway', sans-serif;
}

#mainpage{
  height: 90vh;
}

#portlink{
  color: orange;
  text-decoration: underline;
}

#maintext{
  position: relative;
  top: 15%;
}

#mainimage{
  position: absolute;
  top: 10%;
}

#mainimage img{
  image-orientation: -90deg;
}

.medialogo{
  position: absolute;
  line-height: 2.2em;
  left: 17%;

}

.medialogo a{
  color: black;
}

.medialogo a:hover{
  color: black;
}

          /* Landing page */

#beginpage{
  height:100vh;
}

#logospin{
  width: 256px;
  margin: 0 auto;
}

#logospin img{
  margin: auto;
  width: 256px;
  height: 256px;
}

          /* Navigation Bar */

#navbar-brand{
  margin-left: 1.5em;
  font-size: 1.1em;
  font-family: 'Inconsolata', monospace;
}

.nav-item{
  font-family: 'Raleway', sans-serif;
  border: solid transparent;
  border-width: 0px 0px 2px 0px;
  transition: border 0.5s ease-out;
  margin-right: 5em;
  cursor: default;
}

.nav-item:hover{
  color: yellow;
  transition: border 0.5s ease;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: yellow;
}


          /* Portfolio */

.card{
  min-height: 32em;
  min-width: 30em;
  margin-bottom: 1em;
}

.card button{
  position: absolute;
  left: 1.2em;
  bottom: 1.2em;
}

.modal-body{
  margin: 0 auto;
}

.modaltext{
  margin-top: 1em;
}

          /* Footer */

footer{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}
